<launch>
  <!-- ######################## STATIC TRANSFORMS ##########################    -->
  <node pkg="tf" type="static_transform_publisher" name="fcu_camera_transform" args="0 0 0 -2.3562 0 3.1416 fcu camera 1000"/>
  <node pkg="tf" type="static_transform_publisher" name="fcu_sonar_transform" args="0 0 0 0 0 3.1416 fcu sonar 1000"/>

  <!-- ################ CAMERA ################## -->
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen">
		<rosparam file="$(find labrom_camera)/params/philips.yaml" />	
		<param name="camera_info_url" value="file://$(find labrom_camera)/params/philips.yaml" />
  </node>

  <!-- ################ SONAR ################## -->
  <node name="floor_sonar" pkg="serial_sonar" type="sonar_node">
    <!-- publishers -->
    <remap from="distance" to="sonar/distance"/>
    <remap from="pose" to="sonar/pose"/>
    <!-- parameters -->
    <param name="port" value="USB0"/>
  </node>

</launch>

